#center{
    display: flex;
    align-self: center;
    width: 30%;
    background-color: red;
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
    width:25vw;
    border:5px solid palevioletred;
    box-shadow:5px 5px 5px rgb(112, 112, 112);
    border-radius: 20px;
    margin-bottom: 5vh;
    margin-top: 1vh;
    padding:10px
}
.loginform {
    display: flex;
    align-items: center; 
}

.loginform input {
    width: 100%; 
    box-sizing: border-box;
}
#reg {
    margin-top: auto; 
}